
/*Overall style settings****************************************************************************/
* {
	margin:								0;

	text-align:							center;
	font-family:						'Calibri', sans-serif;
}


body {
	background-image:					linear-gradient(rgb(70,70,70), rgb(140,160,200));
}

.subheader:hover {
	background-color: 					rgb(240,240,240);
}

.icons {
	background-color:					rgb(200,200,200);
	border-color:						rgb(210,210,210);
}

.icons:hover {
	background-color: 					rgb(240,240,240);
}

img {
	position:							relative;
	width:								4em;
	height:								4em;
}

a {
	text-decoration: 					none;
	list-style-type: 					none;
	color:								rgb(0,0,0);
}

a:hover {
	font-weight:						bold;
	text-shadow:						rgb(255,255,255) .0625em .0625em .125em;
}


p {
	color:								rgb(0,0,0);
	margin:								.2em;
}

/*Headers and subheaders*************************************************************************/
.title {
	margin-top:							1em;

	color:								rgb(255,255,255);
	text-shadow:						rgb(0,0,0) 0em .03125em .0625em;

	background-color:					rgb(40,60,100);
}

.title2 {
	margin-top:							0;
	margin-bottom: 						.5em;

	color:								rgb(255,255,255);
	text-shadow:						rgb(0,0,0) 0em .03125em .0625em;

	background-color:					rgb(120,140,180);
	border-bottom-left-radius:			2em;
	border-bottom-right-radius:			2em;
}	
/*Navigation Bar************************************************************************************/
#navigation {
	margin:								0;
	padding:							0;
	list-style-type:					none;

	z-index:							1;

	border:								1.1em solid rgb(225,225,225);
	background-color:					rgb(225,225,225);
}

#navigation li {
	margin:								0;
	padding:							0;
	display:							inline-block;

	width:								11em;
	text-align:							auto;

}

#navigation li a:hover {
	font-weight:						bold;
	text-shadow:						rgb(255,255,255) .0625em .0625em .125em;
}

#navigation li a:nth-child(4) {
	border-right:						1px solid rgb(0,0,0);
}
/*Main heading, includes name and possibly a small descriptionz***********************************************/
#header {
	margin:								.1em;

	text-align:							center;

	font-family:						'Calibri', sans-serif;
	font-size:							2em;
	color:								rgb(255,255,255);
	text-shadow:						rgb(0,0,0) .0625em .0625em .125em;
}
/*Education section**********************************************************************************************/
#education {
	margin-left:						12.5%;
	margin-right:						12.5%;

	background-color:					rgb(200,200,200);
	box-shadow:							1em .75em .25em;
}

#education:hover {
	background-color:					rgb(240,240,240);
}

#education img {
	z-index: 							2;
}
/*Experience section**********************************************************************************************/
#experience {
	margin-left:						12.5%;
	margin-right:						12.5%;
	margin-bottom:						.5em;

	background-color:					rgb(200,200,200);
	box-shadow:							1em .75em .25em;
}

#cashier {
	margin-top:							0;

	background-color:					rgb(120,140,180);
	border-bottom-left-radius:			2em;
}

#cashier:hover {
	background-color:					rgb(240,240,240);
}

#math_tutor{
	margin-top:							0;

	background-color:					rgb(120,140,180);
	border-bottom-right-radius:			2em;
}

#math_tutor:hover {
	background-color:					rgb(240,240,240);
}
/*Activities section**********************************************************************************************/
#activities {
	margin-left:						12.5%;
	margin-right:						12.5%;

	background-color:					rgb(200,200,200);
	box-shadow:							1em .75em .25em;
}

#a100 {
	margin-top:							0;
	margin-bottom: 						.5em;

	color:								rgb(255,255,255);
	text-shadow:						rgb(0,0,0) 0em .03125em .0625em;

	background-color:					rgb(120,140,180);
	border-bottom-left-radius:			2em;
	border-bottom-right-radius:			2em;	
}

#a100:hover {
	background-color:					rgb(200,20,20);
}

#apo {
	margin-top:							0;
	margin-bottom: 						.5em;

	color:								rgb(255,255,255);
	text-shadow:						rgb(0,0,0) 0em .03125em .0625em;

	background-color:					rgb(120,140,180);
	border-bottom-left-radius:			2em;
	border-bottom-right-radius:			2em;		
}

#apo:hover {
	background-color:					rgb(200,20,20);

}

table {
	margin:								auto auto;

	width: 								50px;						
	word-wrap:							break-word;
}

table img {
	padding:							0 3em 0 3em;
}
/*Skills section**********************************************************************************************/
#skills {
	margin-left:						12.5%;
	margin-right:						12.5%;


	background-color:					rgb(200,200,200);
	box-shadow:							1em .75em .25em;
}
/*Contact section**********************************************************************************************/

#contact {
	margin-left:						12.5%;
	margin-right:						12.5%;
	margin-bottom:						3em;
	padding:							0;

	text-align:							center;
	
	background-color:					rgb(200,200,200);
	box-shadow:							1em .75em .25em;
}

#contact:hover {
	background-color:					rgb(240,240,240);
}

#contact li {
	padding:							0;

	display:							inline-block;
}

#contact li a {
	padding:							.5em;

	font-size: 							1.5em;
}

#comm {
	font-weight:						bold;

	color:								rgb(255,255,255);
	text-shadow:						rgb(0,0,0) 0em .03125em .0625em;
}

#comm:hover {
	color:								rgb(200,20,20);
}
/*
*/


