/*Styling*******************************************************************************************/
html {
	/*background: url(images/qu.jpg) no-repeat center center fixed;*/
	font-family: 'Cabin', sans-serif;
}

#name {
	color: white;
}
/*Header**********************************************/
#header {
	text-align: center;
	background-image: linear-gradient(rgb(10,55,70), rgb(140,160,200));
	color: rgba(255,255,255,.90);
	padding-top: 7.5em;
	padding-bottom: 7.5em;
}

.comm {
	color: white;
	text-decoration: none;
}
/*Panels***********************************************/
.panel {
	background-color: rgba(0,0,0,0.75);
	border-bottom: 0.10em solid rgb(200,200,200);
	color: white;
	width: 100%;
	display: inline-block;
	padding: .5em;
	z-index: 2;
}
/*Navigation Bar****************************************/
#nav-bar {
	text-align: center;
	border-bottom: 0.10em solid rgb(200,200,200);
	background-color: rgb(240,240,240);
}

.nav-list {
	display: inline-block;
	margin: 1em;
	border-left: 0.10em solid rgb(200,200,200);
	border-right: 0.10em solid rgb(200,200,200);
}

.nav-link {
	color: black;
	text-decoration: none;
	font-size: 1.5em;
	margin: 1em;
}
/*Content***********************************************/
.content {
	padding: 0.50em;
}

.subtitles {
	font-style: italic;
}

/*Icons*************************************************/
.devicon-java-plain-wordmark, 
.devicon-javascript-plain,
.devicon-jquery-plain-wordmark,
.devicon-html5-plain-wordmark,
.devicon-css3-plain-wordmark,
.devicon-bootstrap-plain-wordmark,
.devicon-mongodb-plain-wordmark,
.devicon-git-plain-wordmark,
.devicon-meteor-plain-wordmark,
.devicon-nodejs-plain-wordmark {
	font-size: 4em;
	padding: .5em;
}
/*Reset********************************************************************************************/
* {
	margin: 0;
	padding: 0;
}