/*Overall style settings****************************************************************************/
* {
	text-align:							center;
	font-family:						'Calibri', sans-serif;
}

body {
	background-image:				linear-gradient(rgb(200,200,200), rgb(140,160,200));
}

#panel {
	margin-left:						5%;
	margin-right:						5%;
}

.column-2 {
	background-color:				rgb(240,240,240);
	border-color:						rgb(210,210,210);
}

h2 {
	color:									rgb(255,255,255);
	text-shadow:						rgb(0,0,0) 0em .03125em .0625em;
}

p {
	color:									rgb(0,0,0);
}
/*Headers and subheaders*************************************************************************/
.title {
	margin-bottom:					0;

	background-color:				rgb(40,60,100);
}

.title2 {
	margin-top:						0;

	background-color:				rgb(120,140,180);
	font-style:							oblique;
	border-bottom-left-radius:		2em;
	border-bottom-right-radius:		2em;
}
/*Navigation Bar************************************************************************************/
#navigation {
	text-align:							center;
}

#menu {
	margin:								0;
	padding:							0;

	list-style-type:						none;
}

#menu li {
	display:								inline-block;

	width:								11em;
	text-align:							auto;

	background-color:				rgb(150,150,150);
	border-radius:						.25em;
	box-shadow:						 .1em .25em;
}

#menu li a {
	text-decoration:					none;

	font-family:						'Calibri', sans-serif;
	font-size:							1.25em;
	color:									white;
}
/*Main heading, includes name and possibly a small description***********************************************/
#header {
	margin:								.1em;

	text-align:							center;

	font-family:						'Calibri', sans-serif;
	font-size:							2em;
	color:									rgb(255,255,255);
	text-shadow:						rgb(0,0,0) .0625em .0625em .125em;
}

/*About section**********************************************************************************************/
#about {
	background-color:				rgb(240,240,240);
	box-shadow:						1em .75em .25em;
}
/*Education section**********************************************************************************************/
#education {
	background-color:				rgb(240,240,240);
	box-shadow:						1em .75em .25em;
}
/*Experience section**********************************************************************************************/
#experience {
	background-color:				rgb(240,240,240);
	box-shadow:						1em .75em .25em;
}

#cashier {
	margin-top:								0;

	font-style:							oblique;
	background-color:				rgb(120,140,180);
	border-bottom-left-radius:		2em;
}

#math_tutor{
	margin-top:								0;

	font-style:							oblique;
	background-color:				rgb(120,140,180);
	border-bottom-right-radius:		2em;
}
/*Skills section**********************************************************************************************/
#skills {
	background-color:				rgb(240,240,240);
	box-shadow:						1em .75em .25em;
}

img {
	position:							relative;
	width:								7em;
	height:								7em;
}
/*Contact section**********************************************************************************************/
#contact {
	background-color:				rgb(240,240,240);
	box-shadow:						1em .75em .25em;
}
/*
*/


